<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Add Contact</h1>
        <button class="btn btn-dark" routerLink="/contacts">Go Back</button>
      </div>
      
      <!-- Step 3: patchup form tag with the FormGroup in ts -->
      <form [formGroup]="contactForm" (ngSubmit)="addContactHandler()" class="col-md-6 offset-md-3"> <!-- step 7: work on submission flow -- ref ts for step 8-->
        <div class="form-group row">
          <label for="staticName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <!-- step 4: patchup form fields with the FormControl in ts -->
            <!-- goto ts for step 5-->
            <input type="text" class="form-control" 
            placeholder="Enter Name" formControlName='name' 
            [ngClass]="{ 'is-invalid': contactForm.get('name').touched 
            && contactForm.get('name').invalid }" 
            />  <!-- step6: displaying validation related msg -->
            <div class="invalid-feedback">
              <div>Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="staticPhone" class="col-sm-2 col-form-label">Phone</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
            placeholder="Enter Phone" formControlName='phone'
            [ngClass]="{ 'is-invalid': contactForm.get('phone').touched 
            && contactForm.get('phone').invalid }" />
            <div class="invalid-feedback">
              <div *ngIf="contactForm.get('phone').errors?.required">Phone is required</div>
              <div *ngIf="contactForm.get('phone').errors?.maxLength">It has exceeded the max length</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName='email'
            placeholder="Enter Email" [ngClass]="{ 'is-invalid': contactForm.get('email').touched 
            && contactForm.get('email').invalid }" />
            <div *ngIf="contactForm.get('email').touched && contactForm.get('email').invalid" 
          class="invalid-feedback">
              <div *ngIf="contactForm.get('email').errors?.required">Email is required</div>
              <div *ngIf="contactForm.get('email').errors?.email">Email seems to be not valid</div>
            </div>
          </div>
        </div>
  
        <div class="alert alert-success" *ngIf="isSaved">
          Saved Successfully
        </div>
  
        <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>